chainlit~=1.1
python-dotenv~=1.0
langchain~=0.2
langchain-core~=0.2
langchain-community~=0.2
langchain-openai~=0.1
langchain-postgres~=0.0
psycopg2-binary~=2.9
psycopg~=3.2
psycopg-binary~=3.2
psycopg-pool~=3.2
langfuse~=2.36