.watermark {
    visibility: collapse !important;
}

/* class-tag for copy-to-clipboard button */
.css-16i44ew {
    visibility: collapse !important;
}

/* logo on top left position*/
img[alt="logo"] {
    visibility: collapse !important;
}

/* div of the logo in side bar*/
.css-14k6mw7 {
    visibility: collapse !important;
}

#open-sidebar-button {
    visibility: collapse !important;
}

svg[data-testid="SortIcon"] {
    visibility: hidden !important
}