/* hide watermark below chatd */
.watermark {
    visibility: collapse !important;
}

/* hide copy-to-clipboard button (first tag is for dark, the second for light mode */
.css-16i44ew, .css-1e9n6az {
    visibility: collapse !important;
    display: none !important;
}

/* hide logo on top left position*/
img[alt="logo"] {
    visibility: collapse !important;
}

/* div of the logo in side bar*/
.css-14k6mw7 {
    visibility: collapse !important;
}

/* hide sidebar menu button on regular screens */
#open-sidebar-button {
    visibility: collapse !important;
}

/* hide sidebar menu button on smaller screen */
svg[data-testid="SortIcon"] {
    visibility: hidden !important
}